---
title: Hello
---

<script>
import Code from './Code.svelte';
import test_code from './docs/test.ts?raw';
</script>

# { title }

This is a markdown file with some basic components:

<Code code={test_code} />
